################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/bin/
/obj/
/Timuon/obj/
/Timuon/bin/
/Timuon/Timuon.csproj.user
/Timuon.Core/bin/
/TimuOnApp.csproj.user
/Timuon.Core/obj/