################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/x86/Debug
/obj
/Timuon.Core/obj/MCD
/TimuOnApp.csproj.user
/Timuon/obj
